body {
    padding: 0;
    margin: 0;
    font-family: Gotham, Verdana, sans-serif;
    font-style: normal;
    background-color: #fff;
}

/* .---------------------------------------------------------------------------------------------------------------------*/
/* .-----------------------------------------------HEADER----------------------------------------------------*/
/* .---------------------------------------------------------------------------------------------------------------------*/

.main-wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.mnavBar {}

.infoBar {
    position: absolute;
    font-family: Gotham, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: black;
    background-color: rgba(212, 209, 209, 0.8);
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.infomessage {
    padding: 10px;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.headerwrapper {
    background: #191919;
    margin: 0 auto 0 auto;
    height: 120px;
}
.logo__desktop{
    width: 70px;
    padding-left: 25px;
    margin-left: 25px;
    padding-top: 2px;
}
nav{
    padding: 1px 0px;
    padding-top: 12px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    box-sizing: border-box;
}
.locatn{
    width: 25px;
    cursor: pointer;
}

.header__logocontainer {
    float: left;
    margin: 0;
    padding: 0;
}
.toggle{
visibility: hidden
}

.mg-icon{
    width: 40%;
    float: right;
    margin: 2px;
    text-align: right;
}
.fa-search-location{
    cursor: pointer;
    transition: opacity .4s,visibility .4s;
}
.mg-ubicación{
    color: lemonchiffon;
    font-size: 9px;
    font-family: Gotham, Verdana, sans-serif;
    font-style: normal;
    text-transform: lowercase;
}

input[type=text] {
    height: 22px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    background-color: lightgray;
    background-image: url('./img/search.png');
    padding: 1px 40px;
    background-repeat: no-repeat;
    transition: width 2s;
    transition-timing-function: linear;
}

input[type=text]:hover {
    width: 300px;
    cursor: pointer;
}
.ubicación{
    float: right;
    padding: 4px;
    border: 1px;
    width: 15%;
    margin-right: 10px;
}
.header-nav{
    display: inline-block;
    padding-right: 20px;    
}

.header-nav li {
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    opacity: 1;
    visibility: visible;
}

.header-nav li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding-left: 35px;
}

.header-nav li a:hover {
    background: inherit;
    color: #666;
}

.toggle {
    width: 100%;
    padding: 5px 2px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    display: none;
}

.openbtn {
    visibility: hidden;
}

.closebtn {
    visibility: hidden;
}

/* .---------------------------------------------------------------------------------------------------------------------*/
          /* .-------------------------------------------MAIN-------------------------------------------*/
/* .---------------------------------------------------------------------------------------------------------------------*/

main .contents {
    max-width: 1280px;
    margin: auto;
    color: #666;
    background-color: #fff;
}

.img_outlines> .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.display {
    width: 100%;
}


.text-block{
    position: absolute;
    padding-left: 50px;
    bottom: 20px;
    box-sizing: border-box;
}
.text-blocks{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;*/
}

.text2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 20px 30px;
    font-family: sans-serif;
}

.products::after,
.articles::after {
    content: "";
    clear: both;
    display: table;
}

.products {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    box-sizing: border-box;
}

.ft-image :hover {
    visibility: visible;
    transition: transform .5s;
    filter: saturate(180%);
    transform: scale(1.1);
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    -webkit-transform: scale(1.1);
}
.button {
    border: 1px solid gray;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #e7e7e7;
    color: black;
}

.button2 {
    background-color: #555555;
}


.ft-image {
    width: 100%;
    margin: 10px;
    padding: 2px;
    box-sizing: border-box;
}

div.ft-image>img {
    width: 100%;
    height: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 10px;
    box-sizing: border-box;
}

div.column {
    padding: 15px;
    text-align: center;
}

p {
    margin: 15px 0 10px;
    font-size: 14px;

}

.color-indicator {
    display: flex;
    min-height: 13px;
    margin-left: 2px;
    margin-bottom: 10px;
    list-style: none;
}

.colorIndicator__color {
    width: 2px;
    height: 1px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.ft-icon {
    display: inline-flex;
    list-style: none;
}

.articles {
    max-width: 1280px;
    margin-right: 0px;
}

.articles:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.img_outlines {
    position: relative;
    font-family: Gotham, Verdana, sans-serif;
    font-style: normal;
}

.homepage_panel {
    position: relative;
    font-family: Gotham, Verdana, sans-serif;
    font-style: normal;
}

.text {
    padding: 0;
    margin: 0;
    color: #1a0000;
    letter-spacing: -1px;
    box-sizing: border-box;
}


.richText__heading2 {
    font-family: Gotham, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 40px;
    font-size: 48px;
    line-height: 48px;
    margin-left: 40px;

}
.buttonLink .btn {
    position: absolute;
    left: 50%;
    background-color: #f8f8f8;
    color: gray;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 35px;
    border: 1px solid #242424;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;

}

.buttonLink .btn:hover {
    background-color: #242424;
    color: white;
}

.homepage_panel {
    position: relative;
    font-family: Arial;
}

.anch-im {
    display: none;
}

/* .---------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------FOOTER--------------------------------------------------*/
/* .---------------------------------------------------------------------------------------------------------------------*/
.footer {
    background-color: #0d0d0d;
    box-sizing: border-box;
}

.footer__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    font-family: Gotham, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #8c8c8c;
    min-height: 96px;
}

.Wrapper {
    background-color: #191919;
}

.socialPage {
    padding-left: 70px;
    margin: 25px;
    font-size: 18px;
}

.socialMedia :hover{
    color: #fff;
    transition: transform .5s;
    transform: scale(1.5);
    -webkit-transition: transform .5s;
}
a:active,
.footer a:link,
.footer a:visited {
    color: #fff;
    text-decoration: none;
}

a:active,
.bose-lists a:link,
.bose-lists a:visited {
    color: #8c8c8c;
    text-decoration: none;
}

.footer__container2 {
    max-width: 1280px;
    margin: 0px;
    
    background-color: inherit;
}

.footer__container2 ul {
    margin: 40px;
    list-style: none;
}

.footerNav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    letter-spacing: .1em;
}

.bose-list {
    font-weight: 600;
    letter-spacing: .2em;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-size: 13px;
}

.contactInfo {
    display: flex;
}

.bose-lists {
    font-weight: 600;
    letter-spacing: .2em;
    line-height: normal;
    color: #fff;
    margin: 10px;
}

.list--noBullets {
    font-size: 13px;
    float: right;

}

.list__listitems {
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-right: 2px;
    padding-bottom: 13px;
    overflow: hidden;
    letter-spacing: .1em;
}



.flag_container {
    background-color: #0D0D0D;
    color: #8c8c8c;
    padding: 15px;
}

.location-container {
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}

.flag-img {
    width: 40px;
    height: 40px;
}

.country {
    margin-right: 15px;
}

.bose-footer__container {
    max-width: 1280px;
    padding-right: 106px;
    padding-left: 106px;
    overflow: hidden;
    background-color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bose-footer__legalNotice {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
}

.legalNoticeFlexContainer {
    flex: 1;
    border-top: #333 1px solid;
}

.btm-icon {
    width: 100px;
    height: 106px;
    margin-right: 40px;
}

.copyRight {
    margin: 40px auto;
    color: #fff;
}
.bose-footer__copyrightNote{
    color: #818181;
}

/* .---------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------Media Queries----------------------------------------------------*/


/* .---------------------------------------------------------------------------------------------------------------------*/
/* tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 0;
        margin: 0;
        font-family: Gotham, Verdana, sans-serif;
        font-style: normal;
        background-color: #fff;
    }
    .main-wrapper{
        display: flex;
        flex-flow: column;
    }
    .toggle {
        display: block;
        padding: 0px;
    }

    .openbtn {
        visibility: visible;
    }

    .closebtn {
        visibility: visible;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-size: 14px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 36px;
        margin-left: 0;
    }

    ul .header-nav {
        width: 100%;

    }

    .header-nav li {
        display: block;
        text-align: left;
        text-decoration: none;
    }
    .mg-icon{

    }
  
    nav {
        padding: 5px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .ubicación{
        visibility: hidden;
    }
    .logo__desktop {
        visibility: hidden;
    }

    input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        box-sizing: border-box;
    }
  
    .logo__mobile {
        display: inline-block;
      visibility: hidden;
    }
    .display {
        max-width: 100%;
        text-align: center;
    }


.articles::after {
    content: "";
    clear: both;
    display: table;
  }
    .products {
       align-content: center;
        width: 45.33%;
        padding: 5px;
        box-sizing: border-box;
         display: block;
         margin-left: auto;
    }

    .anch-im {
        visibility: visible;
    }

    .ft-image {
        margin: 0 auto;
        cursor: pointer;
    }
   
    .button2 {
        font-size: 13;
        display: inline-block;
        padding: 10px 35px;
        background-color: #f8f8f8;
        border-radius: 25px;
        transition: opacity 0.3s ease-out;
        font-weight: bold;
        color: #242424;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1rem;
        width: 100%;
        height: auto;
        border: none;
        border: 1px solid #242424;
        margin: 15px;
    }
    .footer__container2 {
        width: 100%;
        margin: 12.5px;
        background-color: inherit;
    }
   .footerNav {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        letter-spacing: .1em;
    }
    .footer__container2 ul {
        margin: 40px;
        list-style: none;
        float: inherit;
    }
    .footer__container{
        width: 100%
    }
    
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        padding: 0;
        margin: 0;
        font-family: Gotham, Verdana, sans-serif;
        font-style: normal;
        background-color: #fff;
    }

    .toggle {
        display: block;
        padding: 0px;
    }

    ul .header-nav {
        width: 100%;

    }

    .header-nav li {
        display: block;
        text-align: left;
        text-decoration: none;
    }
    .logo__mobile {
        align-self: center;
    }

    header nav {
        padding: 5px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .logo__desktop {
        visibility: hidden;
    }
    .openbtn {
        visibility: visible;
    }

    .closebtn {
        visibility: visible;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }

    .search-icon {
        visibility: hidden;
    }

    input[type=text] {
        display: flex;
        visibility: visible;
        align-content: center;

    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-size: 14px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: 36px;
        margin-left: 0;
    }
    .search-icon{
        float: right;
    }

    .display {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .products {
        width: 100%;
        margin: 0;
    }

    .ft-image {
        width: 100%;
        margin: 0 auto;
    }
    .text-block{
     position: absolute;
     font-size: 10px;
    }
    .anch-im {
        
    }
    .footer__container2 {
        width: 100%;
        margin: 12.5px;
        background-color: inherit;
    }
   .footerNav {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        letter-spacing: .1em;
    }
    .footer__container2 ul {
        margin: 40px;
        list-style: none;
    }
    .footer__container{
        width: 100%
    }
}